#contenedor{
background-color: #f1ecea;
width: 900px;
height: 1000px;

}
/*------------------*/

#cabecera{
    background-color: #3a251c;
    width: 100%;
    height: 15%;

}

h1{
    color: white;
    text-align: center;

}

/*------------------*/
#menu{
    background-color: #b46424;
    width: 100%;
    height: 5%;
    text-align: center; 
}


.menus{
    display: inline;  /*Para linear todos los menus*/
    padding-left: 15px;
    padding-right: 15px;  
}

.menus1{
    color: white;
}

#seccion{
    background-color: #362f2f;
    width: 64%;
    height: 64%;

    
}

.texto1{
    text-align: justify;
    color: white;
}

.img1{
    padding-left: 100px;
}


#aseccion{
    background-color: #b58c7c;
    width: 35%;
    height: 64%;
    display: left;
    
}

.titulo2{
    text-align: center;
}



/*------------------*/
#pie{
    background-color:  #3a251c;
    width: 100%;
    height: 10%;

}
/*------------------*/

/*IMAGENES*/
img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
       
}

.imgcultivo{
   margin-left: 100px;
}